<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_account">

    <application>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.register.RegisterActivity"
            android:label="@string/title_activity_register"/>
    </application>

</manifest>